.grid-container{
  width: 633px;
  height: 430px;
  /* width: 100vw;
  height: 100vh; */
  background: url(grid.jpg) no-repeat;
  display: grid;
  gap: 1px;
  grid-template-columns: repeat(9,auto);
  grid-template-rows: repeat(3,auto);
}

.item{
  background: white;
  opacity: 0.4;
  font-weight: bold;
  font-size: 50px;
  text-align: center;
}
